@import "./../../../../assets/scss/variables.scss";

.not-found {
  display: flex;
  gap: 60px;
  align-items: center;
  padding: 50px 20px;
  color: #483948;

  &__logo {
    width: 50%;
    text-align: right;

    img {
      width: 70%;
    }
  }

  &__elements {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    &-text {
      font-size: 2rem;
      font-weight: 500;
    }

    &-button {
      padding: 10px 20px;
      font-size: 1.1rem;
      font-weight: 500;
      background-color: #ec9d28;
      color: #ffffff;
      border-radius: 8px;
      transition: 0.3s ease-in-out;

      &:hover {
        background-color: #fcc557;
        text-shadow: 1px 1px 3px #ec9d28;
      }
    }
  }
}
