.not-found {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
  background: #fff;
  padding: 50px 30px;
  border-radius: 15px;
  border: 5px solid #EFEFEF;
  box-shadow: 3px 4px 5px 1px rgb(108, 93, 211, 0.3);

  &__title {
  color: #6C5DD3;
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 30px;
  }

  &__text {
    color: #4e4e4e;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
  }
}
