<div
  class="curtain"
  [ngClass]="{ active: isActive }"
  (click)="isActive = !isActive"
></div>
<header class="header" id="header">
  <div class="container">
    <div class="header__wrapper">
      <button class="header__title" (click)="openMain()">
        <img src="./assets/icons/logo.svg" alt="app-logo" />
      </button>
      <button class="header__burger" (click)="isActive = !isActive">
        <img
          src="./assets/icons/user.svg"
          alt="user-icon"
          class="header__burger-icon"
        />
      </button>
      <div class="header__custom-menu" [ngClass]="{ active: isActive }">
        <div
          class="header__menu menu"
          *ngIf="(isLoggedIn$ | async) === false"
          (click)="isActive = !isActive"
        >
          <nav class="menu__nav">
            <a routerLink="/auth/login" class="menu__link menu__link-login">{{
              "login.title" | translate
            }}</a>
            <a routerLink="/auth/signup" class="menu__link menu__link-signup">{{
              "SignUp.title" | translate
            }}</a>
          </nav>
        </div>
        <div class="header__menu menu" *ngIf="user$ | async">
          <nav class="menu__nav">
            <button
              (click)="openBoardCreater()"
              class="menu__link menu__link-create"
            >
              {{ "header.createBtn" | translate }}
            </button>
            <a
              (click)="isActive = !isActive"
              routerLink="/auth/edit-profile"
              class="menu__link menu__link-edit"
              >{{ "header.profile" | translate }}</a
            >
            <button class="menu__link menu__link-logout" (click)="logout()">
              {{ "header.logOut" | translate }}
            </button>
          </nav>
        </div>

        <div class="header__lang">
          <img
            src="./assets/icons/translate.svg"
            alt="translate-logo"
            class="header__lang-logo"
          />
          <select class="header__lang-select" (change)="changeLang()">
            <option value="EN" [selected]="isChecked">En</option>
            <option value="RU" [selected]="isChecked">Ru</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div
    class="header__spinner"
    *ngIf="
      (isLoadingUser$ | async) !== false ||
      (isLoadingColumns$ | async) !== false ||
      (isLoadingBoards$ | async) !== false ||
      (isLoadingTasks$ | async) !== false
    "
  >
    <mat-progress-bar mode="indeterminate"> </mat-progress-bar>
  </div>
</header>
