.boards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-between;
  gap: 25px;
  margin-top: 25px;

  &__item {
    min-width: 250px;
    grid-column: 4 span;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
  }

  &__title {
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    color: #000000;
  }
}

@media (max-width: 1024px) {
  .boards {
    &__item {
      min-width: 240px;
      grid-column: 6 span;
    }
  }
}


@media (max-width: 640px) {
  .boards {
    &__item {
      min-width: 240px;
      grid-column: 12 span;
    }
  }
}



