.column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding-bottom: 10px;
  border-bottom: 3px dashed #6C5DD3;

  &__title {
    max-width: 250px;
    overflow: hidden;
    font-style: normal;
    font-weight: 500;
    font-size: 18.8462px;
    line-height: 22px;
  }
}
