@import "../../../../assets/scss/variables.scss";

.point {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  transition: all 0.4s;
  border-bottom: 1px solid #e4e4e4;

  &__info {
    display: flex;
    align-items: center;
    gap: 18px;
  }


  &__edit-menu {
    display: none;
    position: relative;
    width: 32px;
    height: 15px;
    background: url(../../../../assets/images/icons/dots.svg) no-repeat center center;
    border-radius: 6px;
    color: #333;
    transition: all 0.7s;
    z-index: 9;

    &:hover {
      background-color: #fff;
      box-shadow: 0 0 0 2px rgb(108, 93, 211, 0.3);
      cursor: pointer;
    }
  }

  &__edit-menu-item {
    background-color: #fff;
    color: #5f5f5f;
  }

  &__edit-menu-item:hover {
    background-color: #6e5fd3e6;
      color: #fff;
  }

}





.point-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  margin: 0;

  &__field {
    min-width: 100%;
  }

  &__btns {
    display: flex;
    gap: 10px;
  }

  &__input {
    font-size: 14px;
    color:rgb(80, 80, 80);
    font-weight: normal;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(108, 93, 211, 0.6);
    background: rgb(255, 255, 255);
    box-shadow: 0 0 0 1px rgb(108, 93, 211, 0.9);
  }
}

.point:hover {
  background-color: #e4e4e4;
}

.point:hover .point__edit-menu {
  display: block;
}





