<div class="form">
  <div class="form__container">
    <h1 class="form__title">Create new board</h1>
    <form [formGroup]="boardForm" (ngSubmit)="onSubmit()">
      <div class="form__item">
        <label>title</label>
        <input type="text" formControlName="title" class=""
          [ngClass]="{'is-invalid': (f['title'].dirty || f['title'].touched) && f['title'].errors }" />
        <div *ngIf="(f['title'].dirty || f['title'].touched) && f['title'].errors" class="invalid-feedback">
          <span *ngIf="f['title'].errors['required']">title is required</span>
          <span *ngIf="f['title'].errors['minlength']">title must be at least 6 characters</span>
          <span *ngIf="f['title'].errors['maxlength']">title must be at least 18 characters</span>
        </div>
      </div>
      <div class="form__item">
        <label>description</label>
        <input type="text" formControlName="description" class=""
          [ngClass]="{'is-invalid': (f['description'].dirty || f['description'].touched) && f['description'].errors }" />
        <div *ngIf="(f['description'].dirty || f['description'].touched) && f['description'].errors"
          class="invalid-feedback">
          <div *ngIf="f['description'].errors['required']">description is required</div>
          <span *ngIf="f['description'].errors['minlength']">description must be at least 6 characters</span>
          <span *ngIf="f['description'].errors['maxlength']">description must be at least 18 characters</span>
        </div>
      </div>
      <div class="">
        <button class="" [disabled]="!boardForm.valid">create</button>
        <button type="button" (click)="closeDiadlog()">close</button>
      </div>
    </form>
  </div>
</div>
