.header-board {
  &__right {
    display: flex;
    gap: 10px;
  }
  &__users {
    display: flex;
    gap: 10px;

  }
}
.icon_back {
  padding-right: 4px;
  transform: scale(0.8);
}

.icon_add {
  transform: scale(0.9);
}

.icon_edit {
  transform: scale(0.8);
}

::ng-deep .p-multiselect {
 width: 250px;
 box-shadow: 0 0 0 2px rgb(108, 93, 211, 0.15);
}

::ng-deep .p-multiselect:hover {
  color: #6C5DD3;
  box-shadow: 0 0 0 3px rgb(108, 93, 211, 0.2);
 }

