<div class="columns" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropColumn($event, columns)"
  *ngIf="columns">
  <div class="columns__list" cdkDropListGroup>
    <div class="column" *ngFor="let column of columns" cdkDrag>
      <app-column-header class="columns__header" [column]="column"></app-column-header>
      <div class="columns__inner" cdkDropList [cdkDropListData]="column.tasks"
        (cdkDropListDropped)="dropTask($event, columns, column)">
        <div *ngFor="let task of column.tasks" cdkDrag>
          <!--  <p-accordion> -->
          <app-tasks [task]="task" [column]="column"></app-tasks>
          <!-- </p-accordion> -->
        </div>
        <p class="not-found__text not-found__text_small" *ngIf="!column.tasks?.length">Not created tasks for this board!
        </p>
      </div>
      <button class="btn columns__btn" *ngIf="column.tasks" (click)="openTaskCreater(column)">+ New
        task</button>
    </div>
  </div>
  <div class="columns__not-found not-found" *ngIf="!columns.length">
    <p class="not-found__text">Not created columns for this board!</p>
  </div>
</div>
