.some-wrapper{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  overflow-x: hidden;

  &-top {
    display: flex;
    flex-direction: column;
  }
}

