@import "../../../../assets/scss/variables.scss";

.columns {
  overflow-y: hidden;
  padding: 20px 5px;

  &__list {
    position: relative;
    display: flex;
    gap: 10px;
    height: 100%;
  }

  &__inner {
    min-height: 10px;
    margin: 10px 0;
    flex: 1;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__btn {
    display: block;
    width: 100%;
    text-align: start;
    flex: none;
    position: relative;
    font-weight: 600;
    padding: 15px 10px 5px 10px;
    font-size: 14px;
    color: #9356a0;
    border-top: 2px solid #9356a020;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #784384;
    }
  }

  &__task {
    margin: 10px 0;
  }

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(108, 93, 211, 0.3);
    border-radius: 15px;
    border: 5px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(108, 93, 211, 0.75);
  }

}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #9356a020;
  box-shadow: 3px 4px 5px 1px 48394815;
  margin-bottom: 20px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    padding-bottom: 10px;
    border-bottom: 2px solid #9356a020;
  }

  &__title-block {
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    color: #9356a0;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }

  &__title {
    max-width: 210px;
    overflow: hidden;
  }

  &__quantity {
    min-width: 20px;
    max-width: 28px;
    height: 24px;
    padding: 1px 6px 1px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    border-radius: 50%;
    overflow: hidden;
    color: #9356a0;
    transition: .6s ease;
    background-color: #48394815;
    margin-left: 10px;
  }
}

.edit_menu {
  position: relative;
  width: 30px;
  height: 30px;
  background: url(../../../../assets/images/icons/edit.svg) no-repeat center center;
  border-radius: 6px;
  background-color: #c371d5;
  color: #333;
  transition: all 0.7s;
  box-shadow: 0 0 0 2px #48394815;
  z-index: 9;


  &:hover {
    background-color: #9356a0;
    box-shadow: 0 0 0 4px #48394815;
    cursor: pointer;
  }

  &__item {
    background-color: #fff;
    color: #5f5f5f;
  }

  &__item:hover {
    background-color: #c371d5dd;
    color: #fff;
  }
}


::ng-deep.mat-select-arrow {
  display: none;
}

::ng-deep.mat-select-trigger {
  height: 100%;
}

.mat-input-element {
  color: #483948;
}
