@import "../../../../assets/scss/variables.scss";

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px;
  background: $white;
  border-radius: 10px;
  border: 4px solid $border;
  box-shadow: 3px 4px 5px 1px $shadow;
  margin-bottom: 20px;

  &__inner {
    min-height: 10px;
    margin: 10px 0;
    flex: 1;
  }

  &__btn {
    display: block;
    width: 100%;
    text-align: start;
    flex: none;
    position: relative;
    font-weight: 600;
    padding: 15px 10px 5px 10px;
    font-size: 14px;
    color: $primarydark;
    border-top: 2px solid $border;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $primarylight;
    }
  }

  &__task {
    margin: 10px 0;
  }

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(108, 93, 211, 0.3);
    border-radius: 15px;
    border: 5px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(108, 93, 211, 0.75);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    padding-bottom: 10px;
    border-bottom: 2px solid #9356a020;
  }

  &__title-block {
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    color: #9356a0;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }

  &__title {
    max-width: 210px;
    overflow: hidden;
  }

  &__quantity {
    min-width: 20px;
    max-width: 28px;
    height: 24px;
    padding: 1px 6px 1px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    border-radius: 50%;
    overflow: hidden;
    color: #9356a0;
    transition: .6s ease;
    background-color: $shadow;
    margin-left: 10px;
  }
}

.edit_menu {
  position: relative;
  width: 30px;
  height: 30px;
  background: url(../../../../assets/images/icons/edit.svg) no-repeat center center;
  border-radius: 6px;
  background-color: $primary;
  color: #333;
  transition: all 0.7s;
  box-shadow: 0 0 0 2px #48394815;
  z-index: 9;


  &:hover {
    background-color: $primarydark;
    box-shadow: 0 0 0 4px #48394815;
    cursor: pointer;
  }

  &__item {
    background-color: $white;
    color: #5f5f5f;
  }

  &__item:hover {
    background-color: $primarylight;
    color: $white;
  }
}


::ng-deep.mat-select-arrow {
  display: none;
}

::ng-deep.mat-select-trigger {
  height: 100%;
}

.mat-input-element {
  color: #483948;
}


.edit-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: transparent;
  padding: 0;
  margin: 0;

  &__field {
    width: 300px;
  }

  &__btns {
    display: flex;
    gap: 10px;
  }

  &__icon {
    text-align: center;
    vertical-align: middle;
    border-radius: 6px;
    background-color: #c371d5;
    color: #fff;
    box-shadow: 0 0 0 3px #48394815;
    transform: scale(0.8);
    transition: all 0.5s ease-in-out;
  }

  &__icon:hover {
    background-color: #fff;
    box-shadow: 0 0 0 4px #48394815;
   }

  &__icon_check:hover {
    color: #B2AB2E;
  }

  &__icon_close:hover {
    color: #ED413E;
  }
}



@media (max-width: 480px) {

  .column {
    &__header {
      width: 260px;
    }
    &__title {
      max-width: 180px;
    }
  }

  .mat-form-field {
    width: 190px;
  }

  .edit-form {

    &__btns {
      display: flex;
      gap: 5px;
    }
  }

}
