<div *ngIf="(tasks$ | async) as tasks">
  <!--  ---------<COLUMN HEADER>------------------ -->
  <div class="column__header" *ngIf="column">
    <div class="column__title-block" *ngIf="!isEditMode">
      <h2 class="column__title" (click)="this.isEditMode = true">{{column.title}}</h2>
      <span class="column__quantity">{{tasks.length}}</span>
    </div>


    <mat-select class="column__edit_menu edit_menu" *ngIf="!isEditMode">
      <mat-option class="edit_menu__item" (click)="this.isEditMode = true">
        <mat-icon>edit</mat-icon>Rename
      </mat-option>
      <mat-option class="edit_menu__item" (click)="deleteColumn(column)">
        <mat-icon>delete</mat-icon> Delete
      </mat-option>
    </mat-select>

    <form class="edit-form" [formGroup]="editTitleForm" name="form" (ngSubmit)="editTitle(column)" *ngIf="isEditMode">
      <div class="efit-form__field">
        <mat-form-field>
          <input class="efit-form__input" formControlName="title" matInput>
          <mat-error *ngIf="f['title'].invalid && (f['title'].dirty || f['title'].touched)">
            <div *ngIf="f['title'].errors?.['required']">Title is required</div>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="edit-form__btns">
        <button class="btn" [disabled]="!editTitleForm.valid" type="submit">
          <mat-icon class="edit-form__icon edit-form__icon_check">check</mat-icon>
        </button>
        <button class="btn" (click)="this.isEditMode = false">
          <mat-icon class="edit-form__icon edit-form__icon_close">close</mat-icon>
        </button>
      </div>
    </form>


  </div>
  <!--  ---------</COLUMN HEADER>------------------ -->

  <div class="columns__inner" cdkDropList [cdkDropListData]="tasks" (cdkDropListDropped)="dropTask($event, column)">
    <div class="columns__task" *ngFor="let task of tasks" cdkDrag>
      <app-task [task]="task" [column]="column" [boardId]="boardId" [board]="board"></app-task>
    </div>
    <p class="not-found__text not-found__text_small" *ngIf="!tasks.length">Not created tasks for this column!
    </p>
  </div>
  <button class="btn columns__btn" *ngIf="tasks" (click)="openTaskCreater(column, tasks.length)">+ New
    task</button>
</div>
