
.columns {
  overflow-y: hidden;
  padding: 20px 5px;

  &__list {
    position: relative;
    display: flex;
    gap: 10px;
    height: 100%;
  }

  &__inner {
    min-height: 10px;
    margin: 10px 0;
    flex: 1;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__btn {
    display: block;
    flex: none;
    position: relative;
    font-weight: 600;
    padding: 15px 10px 5px 10px;
    font-size: 14px;
    color: #6C5DD3;
    border-top: 2px solid #EFEFEF;
    transition: all 0.7s;
  }

  &__task {
    margin: 10px 0;
  }

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(108, 93, 211, 0.3);
    border-radius: 15px;
    border: 5px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(108, 93, 211, 0.75);
  }

}


/* .column {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #111;
  border-radius: 10px;
  border: 4px solid #EFEFEF;
  box-shadow: 3px 4px 5px 1px rgba(108, 93, 211, 0.2);
  margin-bottom: 20px;
}
 */
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.columns.cdk-drop-list-dragging .columns__item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.columns.cdk-drop-list-dragging .columns__tasks:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.not-found {
  background: #FFFFFF;
  padding: 50px 15px;
  border-radius: 10px;
  border: 4px solid #9356a020;
  box-shadow: 0px 4px 5px 1px #48394815;
  text-align: center;

  &__text {
    font-size: 18px;
    letter-spacing: 2.5px;
    color: #483948b1;
  }

  &__text_small {
    height: 100px;
    line-height: 100px;
    font-size: 14px;
    text-align: center;
  }
}




.column {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    padding-bottom: 10px;
    border-bottom: 2px solid #EFEFEF;
  }

  &__title-block {
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    color: #6C5DD3;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }

  &__title {
    max-width: 210px;
    overflow: hidden;
  }

  &__quantity {
    min-width: 20px;
    max-width: 28px;
    height: 24px;
    padding: 1px 6px 1px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    border-radius: 50%;
    overflow: hidden;
    color: #6C5DD3;
    transition: .6s ease;
    background-color: #e7e7e7;
    margin-left: 10px;
  }
}

.edit_menu {
  position: relative;
  width: 30px;
  height: 30px;
  background: url(../../../../assets/images/icons/edit.svg) no-repeat center center;
  border-radius: 6px;
  background-color: #6C5DD3;
  color: #333;
  transition: all 0.7s;
  box-shadow: 0 0 0 3px rgb(108, 93, 211, 0.2);
  z-index: 9;


  &:hover {
    background-color: rgb(108, 93, 211, 0.8);
    box-shadow: 0 0 0 4px rgb(108, 93, 211, 0.3);
    cursor: pointer;
  }

  &__item {
    background-color: #fff;
    color: #5f5f5f;
  }

  &__item:hover {
    background-color: rgb(108, 93, 211, 0.9);
    color: #fff;
  }
}


::ng-deep.mat-select-arrow {
  display: none;
}

::ng-deep.mat-select-trigger {
  height: 100%;
}



