.task {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 10px;
  margin-bottom: 15px;
  background-color: rgb(251, 251, 251);
  border-radius: 4px;
  box-shadow: 0px 1px 3px 1px #48394845;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    max-width: 210px;
    font-size: 14px;
    overflow: hidden;
    color: #483948;
    letter-spacing: 1px
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: 0 8px;

  }

  &__points {
    font-size: 13px;
    color: #8f8f8f;
  }

  &__points-icon {
    transform: scale(0.8);
    color: #9356a0;
  }

  &__btn_add {
    width: 100%;
    min-height: 30px;
  }
}

.edit_menu {
  position: relative;
  width: 40px;
  height: 20px;
  background: url(../../../../assets/images/icons/dots.svg) no-repeat center center;
  border-radius: 6px;
  color: #333;
  transition: all 0.7s;
  z-index: 9;

  &:hover {
    box-shadow: 0 0 0 4px #48394815;
    cursor: pointer;
  }

  &__item {
    background-color: #fff;
    color: #5f5f5f;
  }

  &__item:hover {
    background-color: #c371d5dd;
    color: #fff;
  }
}


::ng-deep.mat-select-arrow {
  display: none;
}

::ng-deep.mat-select-trigger {
  height: 100%;
}


.btn_point {
  display: block;
  background-color: #fff;
  padding: 3px;
  margin: 0 auto;
}
