.column {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    padding-bottom: 10px;
    border-bottom: 2px solid #EFEFEF;
  }

  &__title-block {
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    color: #6C5DD3;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }

  &__title {
    max-width: 210px;
    overflow: hidden;
  }

  &__quantity {
    min-width: 20px;
    max-width: 28px;
    height: 24px;
    padding: 1px 3px 1px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    border-radius: 50%;
    overflow: hidden;
    color: #6C5DD3;
    transition: .6s ease;
    background-color: #e7e7e7;
    margin-left: 10px;
  }
}

.edit_menu {
  position: relative;
  width: 30px;
  height: 30px;
  background: url(../../../../assets/images/icons/edit.svg) no-repeat center center;
  border-radius: 6px;
  background-color: #6C5DD3;
  color: #333;
  transition: all 0.7s;
  box-shadow: 0 0 0 3px rgb(108, 93, 211, 0.2);
  z-index: 9;


  &:hover {
    background-color: rgb(108, 93, 211, 0.8);
    box-shadow: 0 0 0 4px rgb(108, 93, 211, 0.3);
    cursor: pointer;
  }

  &__item {
    background-color: #fff;
    color: #5f5f5f;
  }

  &__item:hover {
    background-color: rgb(108, 93, 211, 0.9);
    color: #fff;
  }
}


::ng-deep.mat-select-arrow {
  display: none;
}

::ng-deep.mat-select-trigger {
  height: 100%;
}

.edit-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: transparent;
  padding: 0;
  margin: 0;

  &__field {
    width: 300px;
  }

  &__btns {
    display: flex;
    gap: 10px;
  }

  &__icon {
    border-radius: 6px;
    background-color: #6C5DD3;
    color: #fff;
    padding: 2px;
    transition: all 0.7s;
    box-shadow: 0 0 0 3px rgb(108, 93, 211, 0.2);
    transform: scale(0.8);
  }

  &__icon:hover {
    background-color: #e7e7e7;
    box-shadow: 0 0 0 4px rgb(108, 93, 211, 0.3);
   }

  &__icon_check:hover {
    color: #5EAD56;
  }

  &__icon_close:hover {
    color: red;
  }
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  margin-top: 10px;
  width: 300px;
}

::ng-deep input.mat-input-element {
  margin-top: 7px;
  color: #484a4c;
  letter-spacing: 1.5px;
}

mat-form-field {
  width: 220px;
}
