html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #9356a060;
    border-radius: 5px;
    transition: 0.3s;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #9356a0;
  }
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a{
  text-decoration: none;
}
button, select {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
input {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.alert_green {
  background-color: green;
  color: #fff;
}

.alert_red {
  background-color: red;
  color: #fff;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f3f1f1;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

app-footer {
  margin-top: auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1280px;
  height: 100%
}

.btn {
  background: none;
	padding: 0;
  cursor: pointer;
  border: none;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #6C5DD3;
}


.header-board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 15px;
  background: #FFFFFF;
  border-radius: 10px;
  border: 4px solid #EFEFEF;
  box-shadow: 0px 4px 5px 1px rgb(108, 93, 211, 0.2);

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #6C5DD3;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }

  &__btn {
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    border-radius: 7px;
    border: 1px solid #dfdfdf;
    background-color: #6C5DD3;
    color: #fff;
    box-shadow: 0 0 0 2px rgb(108, 93, 211, 0.2);
    transition: all 0.7s;
  }

  &__btn_left {
    padding: 6px 15px 6px 5px;
  }

  &__btn_right {
    padding: 6px
  }

  &__btn:hover {
    background-color: #fff;
    color: #6C5DD3;
    box-shadow: 0 0 0 3px rgb(108, 93, 211, 0.2);
  }
}


@media (max-width: 640px) {
  .header-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    &__title {
      width: 100%;
      text-align: center;
      order: 2;
    }

    &__btn_right {
      order: 1;
    }
  }
}
