@import "./../../../../../assets/scss/variables.scss";

::ng-deep .mat-dialog-container {
  position: relative;
  color: $dark;
  background-color: $lightbg;
  border-radius: 4px;
  padding: 0;
  border: 4px solid $borderlight;
  box-shadow: 3px 4px 5px 1px $shadow;
}


.confirm {
  &__container {
    width: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 26px;
    font-size: 1rem;
  }

  &__question {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }

  &__button {
    width: 50%;
    padding: 8px;
    font-weight: 500;
    background-color: #ed413e;
    color: #ffffff;
    border-radius: 4px;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: #f1615e;
      text-shadow: 1px 1px 3px #ed413e;
    }

    &-cancel {
      background-color: #9356a0;

      &:hover {
        background-color: #ba74ca;
        text-shadow: 1px 1px 3px #9356a0;
      }
    }
  }
}
